apiVersion: v1
kind: Service
metadata:
  name: web-app-service
spec:
  type: NodePort
  selector:
    app: web-app
  ports:
    - name: http
      port: 80
      targetPort: 5000
      protocol: TCP
      # nodePort: 30080 # optionally pin a specific port in 30000-32767
